
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(213, 213, 213);
    color: black;
}
 
.hero{
    background: linear-gradient(to right,#04172e, #3b6998);
    color: white;
    text-align: center;
    padding: 80px 20px; 
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; box-shadow: 0 2px 6px rgba(0, 0, 0, 0.455);
}
.hero h2{
    font-size: 36px;
    margin-bottom: opx;
}